/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

.reveal img.plain {
    background: none;
}

.diagram-bar {
    height:20px;
    background-color: #75b1ff;
    display: inline-block;
    margin-right: 10px;
}
